* {
    box-sizing: border-box;
    user-select: none;
}
.wrapper {
    margin: 0 auto;
    width: 1060px;
}

.textarea {
    margin-top: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 36px;
    resize: none;
    max-width: 100%;
}

.key {
    width: 60px;
    height: 59px;
    background: #343434;
    box-shadow: 0px 5px 4px rgb(0 0 0 / 80%);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #fff;

    transition: background-color 0.3s;
}
.key:hover {
    border: 1px solid white;
    cursor: pointer;
}

.ArrowUp {
    height: 27px;
}

.ArrowDown {
    height: 27px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background: #abbec6;
    border: 2px solid #898989;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 68px 28px 103px;
    margin-top: 80px;
}

.keyboard .key span.language {
    display: none;
}

.keyboard[data-lang="eng"] .key span.language.eng {
    display: block;
}
.keyboard[data-lang="rus"] .key span.language.rus {
    display: block;
}

.keyboard .key span > span {
    display: none;
}

.keyboard[data-caps-lock="true"][data-shift="true"] .key span > span.shiftCaps {
    display: block;
}
.keyboard[data-caps-lock="true"][data-shift="false"] .key span > span.caps {
    display: block;
}
.keyboard[data-caps-lock="false"][data-shift="true"] .key span > span.caseUp {
    display: block;
}
.keyboard[data-caps-lock="false"][data-shift="false"] .key span > span.caseDown {
    display: block;
}
/* .keyboard[data-letter-case="caseDown"] .key span > span.caseDown { display: block }
.keyboard[data-letter-case="caps"] .key span > span.caps { display: block }
.keyboard[data-letter-case="caseUp"] .key span > span.caseUp { display: block }
.keyboard[data-letter-case="shiftCaps"] .key span > span.shiftCaps { display: block } */

.keyboard-row {
    display: flex;
    column-gap: 7px;
}

.keyboard-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background-image: url(../src/assets/images/virtual_keyboard_background.jpg);
    background-size: cover;
    backdrop-filter: blur(15px);
    height: 85vw;
    margin: 0;
}

.Backspace {
    width: 133px;
    height: 59px;
}
.Tab {
    width: 68px;
    height: 59px;
}
.CapsLock {
    width: 133px;
    height: 59px;
}
.Enter {
    width: 133px;
}

.ShiftLeft {
    width: 163px;
}

.ShiftRight {
    width: 170px;
}

.Space {
    width: 475px;
}

.hidden {
    display: none;
}

.active {
    background-color: #688c99;
    box-shadow: inset 0px 11px 4px rgba(0, 0, 0, 0.25);
}
.wrapper > p {
    color: white;
    font-size: 30px;
    text-align: center;
}
